{
  "ORDERER_ORGS": "org0",
  "PEER_ORGS": "org1 org2",
  "NUM_PEERS": 2,
  "NUM_ORDERERS": 1,
  "NUM_ZOOKEEPER": 3,
  "NUM_KAFKA": 3,
  "NET_CONFIG": {
    "ZOOKEEPER_CLUSTER": [
      {
        "USER_NAME": "ubuntu",
        "IP": "127.0.0.84",
        "PATH": "~/fabric/zk",
        "PWD": "***"
      },
      {
        "USER_NAME": "ubuntu",
        "IP": "127.0.0.85",
        "PATH": "~/fabric/zk",
        "PWD": "***"
      },
      {
        "USER_NAME": "ubuntu",
        "IP": "127.0.0.86",
        "PATH": "~/fabric/zk",
        "PWD": "***"
      }
    ],
    "KAFKA_CLUSTER": [
      {
        "USER_NAME": "ubuntu",
        "IP": "127.0.0.87",
        "PATH": "~/fabric/zk",
        "PWD": "***"
      },
      {
        "USER_NAME": "ubuntu",
        "IP": "127.0.0.88",
        "PATH": "~/fabric/zk",
        "PWD": "***"
      },
      {
        "USER_NAME": "ubuntu",
        "IP": "127.0.0.89",
        "PATH": "~/fabric/zk",
        "PWD": "***"
      }
    ],
    "org0": {
      "RCA": {
        "USER_NAME": "ubuntu",
        "IP": "127.0.0.90",
        "PATH": "~/fabric/rca",
        "PWD": "***"
      },
      "ICA": {
        "USER_NAME": "ubuntu",
        "IP": "127.0.0.91",
        "PATH": "~/fabric/ica",
        "PWD": "***"
      },
      "ORDERERS": [
        {
          "USER_NAME": "ubuntu",
          "IP": "127.0.0.92",
          "PATH": "~/fabric/orderer",
          "PWD": "***"
        }
      ]
    },
    "org1": {
      "RCA": {
        "USER_NAME": "ubuntu",
        "IP": "127.0.0.93",
        "PATH": "~/fabric/rca",
        "PWD": "***"
      },
      "ICA": {
        "USER_NAME": "ubuntu",
        "IP": "127.0.0.94",
        "PATH": "~/fabric/ica",
        "PWD": "***"
      },
      "PEERS": [
        {
          "USER_NAME": "ubuntu",
          "IP": "127.0.0.95",
          "PATH": "~/fabric/peer",
          "PWD": "***",
          "COUCHDB_IP": "127.0.0.95"
        },
        {
          "USER_NAME": "ubuntu",
          "IP": "127.0.0.96",
          "PATH": "~/fabric/peer",
          "PWD": "***",
          "COUCHDB_IP": "127.0.0.96"
        }
      ]
    },
    "org2": {
      "RCA": {
        "USER_NAME": "ubuntu",
        "IP": "127.0.0.97",
        "PATH": "~/fabric/rca",
        "PWD": "***"
      },
      "ICA": {
        "USER_NAME": "ubuntu",
        "IP": "127.0.0.98",
        "PATH": "~/fabric/ica",
        "PWD": "***"
      },
      "PEERS": [
        {
          "USER_NAME": "ubuntu",
          "IP": "127.0.0.99",
          "PATH": "~/fabric/peer",
          "PWD": "***",
          "COUCHDB_IP": "127.0.0.99"
        },
        {
          "USER_NAME": "ubuntu",
          "IP": "127.0.0.100",
          "PATH": "~/fabric/peer",
          "PWD": "***",
          "COUCHDB_IP": "127.0.0.100"
        }
      ]
    },
    "SETUP": {
      "USER_NAME": "ubuntu",
      "IP": "127.0.0.95",
      "PATH": "~/fabric/setup",
      "PWD": "***"
    }
  }
}