{
  "ORDERER_ORGS": "org0",
  "PEER_ORGS": "org1 org2",
  "NUM_PEERS": 2,
  "NUM_ORDERERS": 1,
  "NET_CONFIG": {
    "org0": {
      "CA": {
        "UNAME": "ubuntu",
        "IP": "120.131.13.90",
        "CAPATH": "~"
      },
      "ICA": {
        "UNAME": "ubuntu",
        "IP": "120.131.13.90",
        "CAPATH": "~"
      },
      "ORDERERS": [
        {
          "UNAME": "ubuntu",
          "IP": "120.131.13.90"
        }
      ]
    },
    "org1": {
      "CA": {
        "UNAME": "ubuntu",
        "IP": "120.131.13.90",
        "CAPATH": "~"
      },
      "ICA": {
        "UNAME": "ubuntu",
        "IP": "120.131.13.90",
        "CAPATH": "~"
      },
      "PEERS": [
        {
          "UNAME": "ubuntu",
          "IP": "120.131.13.90"
        },
        {
          "UNAME": "ubuntu",
          "IP": "120.131.13.90"
        }
      ]
    },
    "org2": {
      "CA": {
        "UNAME": "ubuntu",
        "IP": "120.131.13.90",
        "CAPATH": "~"
      },
      "ICA": {
        "UNAME": "ubuntu",
        "IP": "120.131.13.90",
        "CAPATH": "~"
      },
      "PEERS": [
        {
          "UNAME": "ubuntu",
          "IP": "120.131.13.90"
        },
        {
          "UNAME": "ubuntu",
          "IP": "120.131.13.90"
        }
      ]
    }
  }
}