{
  "ORDERER_ORGS": "org0",
  "PEER_ORGS": "org1 org2",
  "NUM_PEERS": 2,
  "NUM_ORDERERS": 1,
  "NET_CONFIG": {
    "org0": {
      "RCA": {
        "USER_NAME": "ubuntu",
        "IP": "120.131.13.90",
        "PATH": "~/fabric/rca",
        "PWD": "qwe123456"
      },
      "ICA": {
        "USER_NAME": "ubuntu",
        "IP": "120.131.13.91",
        "PATH": "~/fabric/ica",
        "PWD": "qwe123456"
      },
      "ORDERERS": [
        {
          "USER_NAME": "ubuntu",
          "IP": "120.131.13.92",
          "PATH": "~/fabric/orderer",
          "PWD": "qwe123456"
        }
      ]
    },
    "org1": {
      "RCA": {
        "USER_NAME": "ubuntu",
        "IP": "120.131.13.93",
        "PATH": "~/fabric/rca",
        "PWD": "qwe123456"
      },
      "ICA": {
        "USER_NAME": "ubuntu",
        "IP": "120.131.13.94",
        "PATH": "~/fabric/ica",
        "PWD": "qwe123456"
      },
      "PEERS": [
        {
          "USER_NAME": "ubuntu",
          "IP": "120.131.13.95",
          "PATH": "~/fabric/peer",
          "PWD": "qwe123456"
        },
        {
          "USER_NAME": "ubuntu",
          "IP": "120.131.13.96",
          "PATH": "~/fabric/peer",
          "PWD": "qwe123456"
        }
      ]
    },
    "org2": {
      "RCA": {
        "USER_NAME": "ubuntu",
        "IP": "120.131.13.97",
        "PATH": "~/fabric/rca",
        "PWD": "qwe123456"
      },
      "ICA": {
        "USER_NAME": "ubuntu",
        "IP": "120.131.13.98",
        "PATH": "~/fabric/ica",
        "PWD": "qwe123456"
      },
      "PEERS": [
        {
          "USER_NAME": "ubuntu",
          "IP": "120.131.13.99",
          "PATH": "~/fabric/peer",
          "PWD": "qwe123456"
        },
        {
          "USER_NAME": "ubuntu",
          "IP": "120.131.13.100",
          "PATH": "~/fabric/peer",
          "PWD": "qwe123456"
        }
      ]
    },
    "SETUP": {
      "USER_NAME": "ubuntu",
      "IP": "120.131.13.101",
      "PATH": "~/fabric/setup",
      "PWD": "qwe123456"
    }
  }
}